/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

/out
node_modules/
src/java/org_parser/antlr/*.java
src/java/org_parser/antlr/*.tokens
src/java/org_parser/antlr/*.interp
src/js/antlr/*.js
src/js/antlr/*.cjs
src/js/antlr/*.tokens
src/js/antlr/*.interp
